@import "../index.scss";

.News__list__notice {
  list-style-type: none;
  padding: 0px 40px 40px 40px;

  @include desktop {
    padding: 40px;
  }

  &-body {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }

    &-image {
      flex-basis: 100%;

      @include desktop {
        padding-top: 16px;
        flex-basis: 34%;
        padding-right: 100px;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      > p {
        display: flex;
        font-weight: bold;
        
        @include desktop{
          position: relative;
          font-weight: bold;
          transform: rotate(90deg);
          margin: 0px;
          text-align: right;
          left: 272px;
          top: 7px;

        }
       
      }
    }

    &-text2 {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      margin: 0px 20px 0px 0px;

      text-align: justify;

      > span {
        padding-bottom: 20px;
        border-bottom: 1.5px solid black;

        > a {
          color: $secondary-color;
        }
      }
    }
  }
}
