@import "../index.scss";

.Footer {
  display: flex;
  flex-direction: column;
  background-color: #03365a;
  color: #fff;

  @include desktop {
    align-items: center;
    flex-direction: row;
    min-height: 350px;
    font-size: 16px;
    padding: 0px 35px;
  }

  &__containerLeft {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 40px;
    @include desktop {
      padding: 20px 20px 20px 40px;
    }

    &__rrss {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      > p {
        display: flex;
      }

      > a:link,
      a:visited {
        color: #fff;
        margin-left: 10px;
        text-decoration: #fff;
      }

      &-icon2 {
        width: 28px;
      }
    }

    &__policity {
      color: #fff;
      display: flex;
      flex-direction: column;
      font-size: 16px;
      align-self: flex-start;
      text-align: left;
      line-height: 2.2;

      @include desktop {
        line-height: normal;
      }

      &-contact {
        margin: 0px 0px 15px 0px;
        > a:link,
        a:visited {
          color: #fff;
          text-decoration: #fff;
          margin-right: 10px;
          font-size: 16px;
        }

        > a:hover {
          color: #90c1e4;
        }
        > p {
          margin: 0px 0px 15px 0px;
        }
      }

      > a:link,
      a:visited {
        color: #fff;
        text-decoration: #fff;
        margin: 0px 0px 15px 0px;
      }
      > p {
        margin: 0px 0px 15px 0px;
      }
    }
  }

  &__containerRight {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0px 55px 20px 40px;

    @include desktop {
      padding: 20px 55px 20px 40px;
    }
    &__img {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        flex-direction: row;
        align-items: stretch;
      }
      @include desktop {
        flex-direction: row;
        align-items: stretch;
      }
      > img {
        width: 70%;
        margin: 15px;
      }
    }
  }
}
