@import "../index.scss";

.Home {
  &__intro {
    background-image: url("https://static.wixstatic.com/media/8bb7ae_2858654ce6ad44b0ba9491259ee24c02~mv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #03365a;
    font-weight: bold;
    position: flex-end;
    font-size: x-large;
    text-align: right;
    position: relative;
    min-height: 475px;

    @include desktop {
      padding-top: 59px;
      font-size: xx-large;
    }

    @include desktop {
      min-height: 500px;
    }

    >p {
      top: 41%;
      position: absolute;
      padding: 20px 0px 20px 20px;
      left: 29%;
      right: 4%;

      @include tablet {
        top: 23%;
        position: absolute;
        padding: 20px 30px;
        left: 58%;
        right: 4%;
        background-color: #ec9f3ad0;
      }

      @include desktop {
        width: 474px;
        top: 0%;
        position: absolute;
        padding: 20px 0px 20px 20px;
        left: 56%;
        right: 4%;
        text-align: left;
        background-color: transparent;
      }

      @include superDesktop {
        width: 656px;
        padding: 41px 0px 20px 53px;
      }
    }

    .bold-1 {
      color: white;
    }

    .bold-2 {
      font-weight: bold;
      color: white;
      font-size: 35px;

      @include desktop {
        font-size: 64px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;


    @include desktop {
      min-height: 475px;
      justify-content: center;
    }

    @include superDesktop {
      min-height: 470px;
    }

    >ul {
      display: flex;
      flex-direction: column;
      padding-left: 0px;

      @include tablet {
        flex-direction: row;
        align-items: center;
        width: 100%;
        min-height: 275px;
        justify-content: center;
      }

      @include desktop {
        flex-direction: row;
        align-items: baseline;
        width: 100%;
      }

      >li {
        padding: 0px 20px 0px 20px;

        @include desktop {
          border-right: 10px solid white;
          padding: 20px;

          >h4 {
            font-size: 17px;
            width: 335px;
            color: #03365a;

            @include superDesktop {
              font-size: 18px;
            }
          }
        }

        .homeLink {
          font-size: 47px;
          color: #90c1e4;
          padding-top: 40px;
        }
      }

      >li:last-child {
        border-right: none;
      }
    }
  }

  &__containerBotton {
    display: flex;
    flex-direction: column;

    &__teamLink {
      background-image: url("https://static.wixstatic.com/media/8bb7ae_9b72b94e27d240629b8bc5a7d7acef8b~mv2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: #03365a;
      font-weight: bold;
      position: flex-end;
      font-size: x-large;
      text-align: right;
      position: relative;
      min-height: 475px;
      padding: 20px 60px 20px 0px;

      &-paragraph {
        color: #03365a;
        font-weight: bold;
        font-size: inherit;
        margin: 0px 0px 20px 20px;
        line-height: 1;
        text-align: left;

        @include tablet {
          margin: 13px 0px 20px 20px;
          text-align: right;
        }

        @include desktop {
          color: #03365a;
          font-weight: bold;
          font-size: larger;
          margin: 20px 0px 20px 185px;
          line-height: 1.5;
          text-align: right;
        }
      }

      >a {
        font-size: 13px;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-family: oscine, sans-serif;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #dd3753dc;
        margin-bottom: 0px;
        width: fit-content;
        position: relative;
        left: 41%;

        @include tablet {
          left: 70%;
        }

        @include desktop {
          left: 83%;
        }

        @include superDesktop {
          left: 87%;
        }
      }
    }

    &__newsFiltered {
      flex-direction: column;
      display: flex;

      @include desktop {
        flex-direction: row;
        justify-content: space-between;
        min-height: 475px;
        align-items: center;
      }

      &__label {
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
        height: 92px;
        padding: 25px;
        display: flex;
        align-items: center;
        min-height: 200px;
        margin-top: 0px;
        flex-basis: 50%;
       

          @include tablet {
            width: 100%;
            justify-content: center;
          }


          @include desktop {
            min-height: 426px;
            width: 620px;
            margin-bottom: 0px;
            font-size: 21px;

          }

          @include superDesktop {
            min-height: 475px;
            width: 680px;
            margin-bottom: 0px;
            font-size: x-large;
            padding: 0px 50px;
          }
        
      }

      &__list {
        display: flex;
        justify-content: flex-end;
        padding-left: 0px;
        margin: 0px;

        @include superDesktop {
          font-size: larger;
        }

        &-notice {
          padding-bottom: 50px;

          >div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            padding-left: 49px;
            padding-right: 45px;

            @include desktop {
              padding-left: 20px;
              padding-right: 58px;
            }

            >h4 {
              text-align: right;
            }

            >p {
              text-align: justify;

              @include desktop {
                width: 600px;
              }
            }

            >a {
              font-size: 14px;
              border: 0;
              border-radius: 100px;
              box-sizing: border-box;
              color: #fff;
              display: inline-block;
              font-family: oscine, sans-serif;
              padding: 18px 19px;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              background-color: #993016;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}