@import "../index.scss";
// @import "react-credit-cards/lib/styles.scss";

.Join {
  &__intro {
    background-image: url("https://static.wixstatic.com/media/8bb7ae_267bffe2f2ec480c8622f46d60044fe6~mv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #03365a;
    font-weight: bold;
    font-size: x-large;
    text-align: right;
    position: relative;
    min-height: 475px;

    @include tablet {
      min-height: 535px;
      margin-bottom: 78px;
    }

    @include desktop {
      padding-top: 59px;
      font-size: xx-large;
      margin-bottom: 0px;
    }

    > p {
      top: 41%;
      position: absolute;
      padding: 20px 0px 20px 20px;
      left: 29%;
      right: 4%;

      @include tablet {
        top: 76%;
        right: 0px;
        text-align: left;
        font-size: 35px;
        background-color: #ec9f3a;
      }

      @include desktop {
        width: 459px;
        top: 35%;
        position: absolute;
        padding: 20px 20px 20px 20px;
        left: 4%;
        text-align: left;
        background-color: transparent;
      }
    }

    .bold-1 {
      color: white;
    }

    .bold-2 {
      font-weight: bold;
      color: white;
      font-size: 35px;

      @include desktop {
        font-size: 64px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include desktop {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    > img {
      width: 100%;
      display: none;

      @include desktop {
        display: flex;
        flex-basis: 50%;
        width: 50%;
      }
    }

    &-reasons {
      flex-basis: 50%;
      flex-direction: column;
      padding: 40px;
      text-align: left;
      color: #03365a;
      font-weight: bold;
      font-size: 16px;
      text-align: justify;

      @include superDesktop {
        font-size: 18px;
        padding: 0px 95px;
      }

      > li {
        margin-top: 20px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: end;
        color: #03365a;
        font-weight: bold;
        font-size: 16px;
        > a {
          color: #90c1e4;
          margin-right: 5px;
        }

        @include superDesktop {
          padding: 15px;
          font-size: 18px;
        }

        > svg {
          margin-right: 7px;
          color: $primary-color;
          font-size: 20px;
          @include tablet {
          }
          @include desktop {
            margin-right: 20px;
          }
          @include superDesktop {
            margin-right: 20px;
          }
        }
      }

      .reason-2 {
        &__container {
          &__icon {
            margin-right: 20px;
            color: $primary-color;
            font-size: 20px;
          }
          &__paragraph {
            > a {
              color: #90c1e4;
              margin-right: 5px;
            }
          }
        }
      }
      .reason-3 {
        flex-direction: column;
        &__container {
          &__icon {
            color: #90c1e4;
            margin-right: 18px;
            font-size: 20px;
          }
        }
        > ul {
          > li {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            padding: 12px;
            > svg {
              font-size: 10px;
              margin-right: 6px;
            }
            @include desktop {
            
              > svg {
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
  }

  .mov-image {
    width: 100%;
    margin-bottom: 20px;

    @include desktop {
      display: none;
    }
  }
  &__faqs {
    @include desktop {
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    &__content {
      text-align: end;
      margin-right: 40px;
      @include tablet {
        margin-right: 75px;
      }

      @include desktop {
        text-align: justify;
        margin-right: 0px;
      }

      > h3 {
        color: $secondary-color;

        @include desktop {
          width: 600px;
        }
      }
      details > summary {
        list-style-type: none;
        color: $secondary-color;
        font-weight: bold;
        list-style-type: none;

        @include desktop {
          text-align: justify;
        }
      }
      details > p {
        margin-left: 37px;
        color: $secondary-color;
        max-width: 525px;
        > a {
          color: $primary-color;
        }
        @include tablet {
          max-width: 100%;
        }
        @include desktop {
          max-width: 525px;
        }
      }

      details > summary::-webkit-details-marker {
        display: none;
      }

      details > summary::before {
        content: "+";
        margin-right: 20px;
        position: relative;
        left: 600px;
        font-weight: bold;
        color: $primary-color;
        font-size: 23px;
      }

      details[open] > summary::before {
        content: "-";
        margin-right: 20px;
        position: relative;
        left: 600px;
        font-weight: bold;
        color: $primary-color;
        font-size: 23px;
      }

      details {
        padding: 10px;
        @include desktop {
          padding: 0.5rem;
        }
      }

      details[open] > summary {
        @include desktop {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &__donation {
    display: flex;
    flex-direction: column;
    min-height: 400px;

    > h3 {
      color: #03365a;
      font-weight: bold;
      @include tablet {
        text-align: left;
        margin-left: 89px;
        margin-top: 89px;
      }

      @include desktop {
        text-align: left;
        font-size: 23px;
        margin-left: 123px;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 20px;
      margin-bottom: 40px;

      @include tablet {
        margin: 40px 80px;
        flex-direction: row;
      }

      @include desktop {
        flex-direction: row;
        min-height: 200px;
        margin: 0px 69px;
      }

      .line {
        display: none;

        @include tablet {
          display: inline;
          width: 200px;
          border-bottom: 2px solid #ec9727;
        }
        @include desktop {
          display: inline;
          width: 200px;
          border-bottom: 2px solid #ec9727;
        }
      }

      .button-1 {
        font-size: 12px;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-family: oscine, sans-serif;
        padding: 16px 22px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #ec9727;
        margin-bottom: 10px;
        width: -moz-fit-content;
        width: fit-content;

        @include desktop {
          font-size: 16px;
          border: 0;
          border-radius: 100px;
          box-sizing: border-box;
          color: #fff;
          display: inline-block;
          font-family: oscine, sans-serif;
          padding: 25px 26px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          background-color: #ec9727;
          margin-bottom: 10px;
          width: -moz-fit-content;
          width: fit-content;
        }
      }

      .button-1:hover {
        background-color: rgb(235, 233, 233);
        color: #03365a;
      }
    }

    > img {
      width: 100%;
    }
  }
}
