@import "../index.scss";

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #76c2e7;
  align-items: baseline;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  position: fixed;

  @include desktop {
    height: 100px;
    position: inherit;
    align-items: baseline;
    height: 110px;
  }

  >nav {
    @include desktop {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

  }

  &__img {
    >a {
      >img {
        width: 190px;
      }
    }
  }
}

#menuToggle {

  position: relative;
  bottom: 37px;
  left: 319px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  @include tablet {
    left: 701px;
  }

  @media only screen and (min-width: 1024px) {
    left: 947px;
  }




  @include desktop {
    position: inherit;
  }
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;

  @include desktop {
    display: none;
  }
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  @include desktop {
    display: none;
  }
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;

  @include desktop {
    display: none;
  }
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;

  @include desktop {
    display: none;
  }
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: #fff;

  @include desktop {
    display: none;
  }
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);

  @include desktop {
    display: none;
  }
}

#menuToggle input:checked~span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);

  @include desktop {
    display: none;
  }
}
  @include desktop{
  #menu > a:last-child{
    border-right: none;
  }
  #menu > a:focus {
    color: $secondary-color;
  }
}
#menu {

  min-width: 159px;
  min-height: 131px;
  position: absolute;
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(432%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background-color: #76c2e7;
  margin: -100px 0 0 0;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  right: -9px;
  top: 147px;

  @include desktop {
    position: flex;
    min-width: 230px;
    margin: none;
    padding: 35px;
    padding-top: 0px;
    right: 0px;
    background-color: $secondary-color;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: none;
    transform: none;
    transition: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    top: 0px;

  }

 
  >a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding: 15px;
    padding: 10px 5px 15px 0px;

    @include desktop {
      padding-right: 5px;
      border-right: 1px solid white;
      margin: 5px;
      color: white;
      transition: none;
      padding: 0px 5px 0px 0px;
     
    }

  }

  .Navbar__containerLinks__join {
    font-size: 14px;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: oscine, sans-serif;
    padding: 18px 19px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ec9727;
    margin-bottom: 10px;
    width: fit-content;
  }

  @include desktop {
    width: fit-content;
    flex-direction: row;
    position: inherit;
    margin: 0px;
    padding: 0px;
    right: 0px;
    transform-origin: none;
    transform: none;
    transition: none;
    -webkit-font-smoothing: none;
    background-color: transparent;

    

   
  }
}

#menu li {
  padding: 10px 0;
  font-size: 22px;

  @include desktop {
    display: flex;
  }
}

#menuToggle input:checked~ul {
  transform: none;
  opacity: 1;
  right: 70%;
  text-align: left;

  @include tablet {
    right: 65%;
  }

  @include desktop {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}