@import "../index.scss";

.News {
  &__intro {
    background-image: url("https://static.wixstatic.com/media/8bb7ae_5c3935c93acd4726aa058e8dfeae44ae~mv2.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center center;
    min-height: 427px;
    display: flex;
    flex-direction: row;
    margin-top: 135px;
@include tablet{
  background-size: cover;
}
    @include desktop {
      margin-top: 0px;
      padding-left: 66px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      min-height: 594px;
      display: flex;
      flex-direction: row;
      font-size: x-large;
    }

    > p {
      margin-top: -36px;
      width: 400px;
      background-color: black;
      color: white;
      height: 60px;
      padding: 25px;
      @include tablet{
        width: fit-content;
        text-align: center;
        font-size: large;
      }
      @include desktop {
        margin-top: 224px;
        width: 400px;
        height: 92px;
        padding: 25px;
      }
    }
  }
  &__list {
    list-style-type: none;
    padding-left: 0px;
  }
}
