@import "../index.scss";
.Policity {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 40px 40px 40px 40px;
  @include desktop {
    padding: 40px 80px 40px 80px;
  }

  > p {
    color: #4d1820;
  }
  > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #4d1820;
    font-weight: bold;
  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    > svg {
      font-size: 33px;
      margin-right: 10px;
      color: #90c1e4;
    }
  }
  &__section {
    padding-left: 0px;
    @include desktop {
      padding-left: 43px;
    }

    > p {
      color: #4d1820;
      > a {
        margin-left: 5px;
        color: #03365a;
      }
    }
    > ul {
      padding-left: 0px;
      color: #4d1820;
      @include desktop {
        padding-left: 45px;
      }
      > li {
        padding: 15px;
        > svg {
          margin-right: 20px;
        }
        > a {
          margin-left: 5px;
          color: #03365a;
        }
      }
    }
  }
}
