@import "../index.scss";

.whatWeDo {
  &__topBlock {
    background-image: url("https://static.wixstatic.com/media/8bb7ae_58f0b06ae3bc41af993f65a77afb5d45~mv2.jpg");
    background-repeat: no-repeat;
    background-size: 618px;
    min-height: 422px;
    background-size: cover;
    background-position: center left;
    margin-top: 100px;



    @include desktop {
      min-height: 475px;
      background-position: center top;
      padding-top: 59px;
      margin-top: 0px;
    }

    &__text {
      display: flex;
      flex-direction: row;
      font-size: 21px;
      font-weight: bold;
      color: #03365a;
      text-align: left;
      top: 24%;
      position: relative;
      padding: 26px 115px 26px 26px;

      @include tablet {
        left: 8%;
      }

      @include desktop {
        text-align: center;
        font-size: 36px;
        padding-left: 80px;
        padding-right: 80px;
         top: 0px;
         left: 0%;
      }

      &-bold {
        font-weight: bold;
        color: white;
        font-size: 22px;

        @include desktop {
          font-size: 41px;
        }
      }

      >p {
        margin: 0px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    margin-bottom: 20px;

    @include desktop {
      margin: 50px 125px 50px 125px;
      justify-content: flex-start;
    }

    &-item {
      font-size: 14px;
      margin: 15px;
      text-align: justify;
      padding: 0px 25px;
      flex-basis: 100%;
      border-radius: 12px;
      text-align: right;

      @include desktop {
        padding: 25px;
        flex-basis: 25%;
        text-align: justify;
      }

      .homeLink {
        font-size: 20px;
      }
    }

    .whatWeDo__list-item:hover {
      background-color: rgba(200, 207, 218, 0.274);
    }
  }

  &__adn {
    background-color: #03365a;
    padding: 15px;
    padding-left: 65px;
    padding-right: 65px;
    color: white;
    height: 350px;

    font-size: large;
    align-items: center;
    display: flex;

    @include desktop {
      font-size: xx-large;
    }

    &-bold {
      font-weight: bold;
      color: #90c1e4;
      font-style: italic;
    }
  }

  &__mission {
    display: flex;
    flex-direction: row;
    background-image: url("https://static.wixstatic.com/media/8bb7ae_79e7bbf315f948e99150e4a31cb03953~mv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include desktop {
      padding-bottom: 20px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      padding-right: 47px;

      @include desktop {
        margin: 50px 0px 0px 125px;
        width: 400px;
      }

      &-element {
        font-size: 15px;
        text-align: justify;
        margin: 0px;

        .homeLink {
          color: #90c1e4;
          margin-right: 10px;
        }
      }
    }
  }
}