@import "../index.scss";

.WhoWeAre {
  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 0px;
    padding-left: 10px;
    justify-content: center;
    padding-top: 20px;
    
    @include tablet{
      padding: 62px;
    }
    @include desktop {
      padding-top: 0px;
      padding: 0px;
    }

    &__member {
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include desktop {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        margin: 15px;
        width: 440px;
        margin-left: 125px;
      }

      &-image {
        width: 166px;

        border-radius: 275px;
        margin-top: 25px;
        margin-bottom: 15px;
        margin-left: 127px;
        border-left: 18px solid rgb(235, 233, 233);

        @include desktop {
          margin-left: 166px;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
        @include superDesktop {
          font-size: 18px;
          justify-content: center;
        }

        &-name {
          font-weight: bold;
          margin: 3px;
          padding: 3px;
        }

        &-position {
          margin: 3px;
          padding: 3px;
          font-style: italic;
        }

        &-description:hover {
          border-left: 10px solid #03365a;
          border-radius: 6px;
        }

        &-description {
          padding: 10px;
          text-align: justify;
          padding: 10px;
        }
      }
    }
  }
}
