body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul,
li {
    margin: 0 auto;
    list-style: none;

}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */

//VARIABLES
$primary-color: #90c1e4;
$secondary-color: #03365a;
$color-1:#ec9f3a;
$color-2:#4d1820;
$grey:#F6F6F6;


a:link,
a:visited,
a:active {
    text-decoration: none;
}

//HERENCIA
%flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

%column {
    display: flex;
    flex-direction: column;
}

//RESPONSIVE
$layout_bp_mobile: 360px;
$layout_bp_tablet: 768px;
$layout_bp_desktop: 1200px;
$layout_bp_superDesktop: 1600px;


@mixin tablet {
    @media only screen and (min-width: $layout_bp_tablet) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $layout_bp_desktop) {
        @content;
    }
}

@mixin superDesktop {
    @media only screen and (min-width: $layout_bp_superDesktop) {
        @content;
    }
}

// Custom classes
.custom-button {
    background-color: $primary-color;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: $primary-color;
        color: white;
    }
}

.custom-button2 {
    background-color: $secondary-color;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: $secondary-color;
        color: white;
    }
}